{% extends "customer/customer_submenu.html" %}
{% from "_utilities.html" import render_field, render_select, render_field_sm %}


<!-- Title of the page (what goes on the tab when rendered) -->
{% block title %}
{% endblock %}

<!-- Specific Style to this page -->
{% block style %}
{% endblock %}

<!-- Any Page Menu Item go here -->
{% block extra_menu_items %}
<!--class="nav-link"-->
{% endblock extra_menu_items %}

<!-- Any Action items go here -->
{% block action_items %}
<!--class="dropdown-item"-->
{% endblock action_items %}

<!-- Main Content -->
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form method=POST enctype=multipart/form-data action="{{url_for('customer.customer_main')}}">
                {{ form.csrf_token }}
                <fieldset class="form-field row">
                    <div class="col-md-6">
                        {{ render_field_sm(form.fname) }}
                    </div>
                    <div class="col-md-6">
                        {{ render_field_sm(form.lname) }}
                    </div>
                    <div class="row"></div>
                    <div class="col-md-12">
                        {{ render_field_sm(form.address) }}
                        {{ render_field_sm(form.address2) }}
                    </div>
                    <div class="col-md-4">
                        {{ render_field_sm(form.city) }}
                    </div>
                    <div class="col-md-4">
                        {{ render_field_sm(form.state) }}
                    </div>
                    <div class="col-md-4">
                        {{ render_field_sm(form.zipcode) }}
                    </div>
                    <div class="row"></div>
                    <div class="col-md-6">
                        {{ render_field_sm(form.phone) }}
                    </div>
                    <div class="col-md-6">
                        {{ render_field_sm(form.email) }}
                    </div>
                    <div class="col-md-12">
                        {{ render_field_sm(form.customer_status) }}
                    </div>
                    <div class="col-md-12 d-grid gap-2 d-md-flex justify-content-md-end">
                        <input class="btn btn-primary col-4" type="submit" value="Add Customer">
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-sm-6">
            <h3>Active Customers</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Last Order</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cust in customers %}
                    {% if cust.customer_status == 1 %}
                    <tr onclick="window.location='{{ url_for("customer.customer_detail", id=cust.id) }}';">
                        <td style="background-color:{{cust.status_rel.color}} ; width:5px;"></td>
                        <td>{{cust.fullname()}}</td>
                        <td>{{cust.email}}</td>
                        <td>{{cust.phone}}</td>
                        <!-- FIXME: get last project name in the below cell -->
                        <td>{{cust.orders_rel.project_name}}</td> 
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-2">
            <h3>Customers</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cust in customers %}
                    {% if cust.customer_status != 1 %}
                    <tr onclick="window.location='{{ url_for("customer.customer_detail", id=cust.id) }}';">
                        <td style="background-color:{{cust.status_rel.color}} ; width:5px;"></td>
                        <td>{{cust.fname}} {{cust.lname}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}

    <!-- Scripts needed for this page -->
    {% block scripts %}

    <script>
        var formErrors = {
            %
            if form.errors %
        }
        true {
            %
            else %
        }
        false {
            %
            endif %
        };

        $(document).ready(function () {
            if (formErrors) {
                $('.modal').modal('show');
            }
        });
    </script>
    {% endblock %}