{% extends "base/base.html" %}
{% from "_utilities.html" import render_field, render_select %}
<!-- Title of the page (what goes on the tab when rendered) -->
{% block title %}
{% endblock %}

<!-- Specific Style to this page -->
{% block style %}
{% endblock %}

<!-- Any Submenus go here -->
{% block submenu %}
{% endblock %}

<!-- Main Content -->
{% block content %}
<h4 class="display-4 text-center">Filaments</h4>
{% endblock %}

<!-- Scripts needed for this page -->
{% block scripts %}
{% endblock %}