{% extends "orders/orders_submenu.html" %}

<!-- Title of the page (what goes on the tab when rendered) -->
{% block title %}
Orders
{% endblock %}

<!-- Specific Style to this page -->
{% block style %}
{% endblock %}

<!-- Any Page Menu Item go here -->
{% block extra_menu_items %}
<!--class="nav-link"-->
{% endblock extra_menu_items %}

<!-- Any Action items go here -->
{% block action_items %}
<!--class="dropdown-item"-->
{% endblock action_items %}

<!-- Main Content -->
{% block content %}
<br>
<table class="table table-responsive">
    {% for order in orders %}
        <tr>
            <td>{{order.project_name}}</td>
            <td>{{order.status_rel.status}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}