{% extends "orders/orders_submenu.html" %}
{% from "_utilities.html" import render_field_sm, render_select %}


<!-- Title of the page (what goes on the tab when rendered) -->
{% block title %}
{% endblock %}

<!-- Specific Style to this page -->
{% block style %}
{% endblock %}

<!-- Any Page Menu Item go here -->
{% block extra_menu_items %}
<!--class="nav-link"-->
{% endblock extra_menu_items %}

<!-- Any Action items go here -->
{% block action_items %}
<!--class="dropdown-item"-->
<a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#new_order_Modal">Add New order</a>
{% endblock action_items %}

<!-- Main Content -->
{% block content %}
<br>


<form method=POST enctype=multipart/form-data action="{{url_for('order.order_add')}}">
    {{ form.csrf_token }}
    <fieldset class="form-field row">
        <div class="col-md-4">
            {{ render_field_sm(form.date_needed) }}
        </div>
        <div class="col-md-4">
            {{ render_field_sm(form.project_name) }}
        </div>
        <div class="col-md-4">
            {{ render_field_sm(form.order_status) }}
        </div>
        <div class="row"></div>
        <div class="col-md-2">
            {{ render_field_sm(form.qty) }}
        </div>
        <div class="col-md-5">
            {{ render_field_sm(form.setuptime) }}
        </div>
        <div class="col-md-5">
            {{ render_field_sm(form.taredowntime) }}
        </div>
        <div class="row"></div>
        <div class="col-md-12">
            {{ render_field_sm(form.customerfk) }}
        </div>
        <div class="row"></div>
        <div class="col-md-6">
            {{ render_field_sm(form.machinefk) }}
        </div>
        <div class="col-md-6">
            {{ render_field_sm(form.filamentfk) }}
        </div>
        <div class="col-md-12">
            {{ render_field_sm(form.gcode) }}
        </div>
        <div class="row"></div>
        <div>
            <input class="btn btn-primary" type="submit" value="Add order">
        </div>
    </fieldset>
</form>
{% endblock %}

<!-- Scripts needed for this page -->
{% block scripts %}

<script>
    var formErrors = {
        %
        if form.errors %
    }
    true {
        %
        else %
    }
    false {
        %
        endif %
    };

    $(document).ready(function () {
        if (formErrors) {
            $('.modal').modal('show');
        }
    });
</script>
{% endblock %}